<!DOCTYPE html>
<!-- // Why Vue?

// Dynamic Applications, Speed, etc out of the box
// Virtual DOM: makes JS Web Apps a bit faster and more efficient
// Lightweight
// Progressive? Use it anywhere from small web apps (jQuery drop in replacement)
// or use as full fledged framework for big projects like GMail etc.
// Flexible: Use base framework or add features (tools, libraries) from Vue ecosystem
// Incrementally adoptable: Quite simple to update application page by page into Vue application

// Getting started: 

// Vue V3, Installation via CDN (Content Delivery Network) -->

<!-- 
Vue.js directives

v-model: used just like html attribute, bind value to variable, handles 2-way data binding 
(data is determined by either the "static" given value in data function of the options object
and by the value of the input field once it is changed ("dynamic"))

v-if: conditional, e.g. to display stuff only if condition is true
!note: if v-if is false, the element will not be rendered to the DOM at all, it will also
not be visible in the source code!

v-show: conditional, but if false the element gets a style display: none and is still rendered
to the DOM and visible in the source (most often v-if is used, v-show is used for cases when something has to be toggled frequently
-> more performant)

v-cloak: utility that hides anything from rendering until whole application is ready.
Useful for cases where vue templating syntax and conditional items are displayed for 
a short time when loading the page (needs CSS Styling with display: none)

v-bind: lets you pass a variable to a custom component via a regular html attribute
Shorthand is just a colon ":"
-->

<!-- Events and Methods 
v-on: specific for events (custom or any of standard browser events (clicks, key press))
shorthand for v-on:click is @click

@keyup/v-on:keyup: listen for keyboard input, needs an "event-modifier" to say which keyboard input to listen for
(e.g. enter: keyup.enter or keyup.13 (Key Code!))

Event Modifiers:
@click.right for only right click
@click.prevent.stop, you can chain as many modifiers as you want
-->

<html>
  <head>
    <title>Vue 3 Basics</title>
    <style>
      .box {
        background-color: aqua;
        height: 200px;
        width: 200px;
      }
      .box.two {
        background-color: red;
      }
      .box.three {
        background-color: blue;
      }
      /* squared brackets match element with that attribute, e.g. <div v-cloak>...</div> */
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id='app' v-cloak>
      <!-- double moustache (common templating) syntax to use variables in vue 
      everything inside double moustache will be parsed as javascript, vue looks for variable with fitting name -->
      {{ greeting }}
      <input @keyup.enter="greet(greeting + '!!!!!')" v-model="greeting"/>

      <hr/>
      <!-- Button to change variable value -->
      <button @click="toggleBox">Toggle Box</button>
      <div v-if="isVisible" class="box"></div>
      <!-- <div v-else-if="isVisible2" class="box two"></div>
      <div v-else class="box three"></div> -->
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        // this is the options object, here we define any variables
        // or functions that are used in vue application
        data: function() {
          // data needs to return an object
          return {
            // create greeting variable
            greeting: 'Hello Vue 3!',
            isVisible: false,
            isVisible2: true
          }
        },
        // methods is an object of functions
        methods: {
          // function shorthand for toggleBox: function() {}
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(passedInGreeting) {
            console.log(passedInGreeting);
          }
        }
      });
      // lets vue instance interact with every DOM Element inside of div with id 'app'
      app.mount('#app');
    </script>
  </body>
</html>