<!DOCTYPE html>
<!-- Vue Components
Break up Vue application in multiple components to prepare
larger applications and use Vue CLI 

We will build: A Form with separate components:
- Form will be outer component
- Inputs will be inner components
-->

<!-- 
    Component Llifecycle Hooks
    Coming into the DOM and leaving the DOM (via v-if, loading another page, scrolling, ...)
    Hooks: function, that is triggered to run at specific point in lifecycle of component
    (Lifecycle Diagram in Vue Documentation)

    What are they used for?
    - Check if a user is authorized as soon as page is created
    - Created and Mounted Hooks are often used to pull data from 
    backend or in-browser storage (API Calls)
    - Initialize Events, Remove Events
    - Clean Up Data, Save Data beforeUnmount or in unmounted function


-->

<html>
  <head>
    <title>Vue 3 Basics 2</title>
    <style>
        input {
            margin: 10px;
            display: block;
        }
    </style>
  </head>
  <body>
    <div id='app' v-cloak>
      <!-- custom tag as a vue component, has to be defined somewhere -->
      <login-form />
      
      </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        // this is the options object, here we define any variables
        // or functions that are used in vue application
        data: function() {
          // data needs to return an object
          return {
          }
        },
        // methods is an object of functions
        methods: {
          // function shorthand for toggleBox: function() {}
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(passedInGreeting) {
            console.log(passedInGreeting);
          }
        }
      });
      // lets vue instance interact with every DOM Element inside of div with id 'app'
      app.component('login-form', {
          // options object
          // template is only required option for custom component
          template: `
            <form @submit.prevent="handleSubmit">
              <h1> {{ title }} </h1>
              <!-- <p v-for="(str, i) in inputs" :key="i"> {{ str + ' ' + i }} </p> -->
              <!-- v-model is also listening to update event from child -->
              <custom-input 
                v-for="(input, i) in inputs"
                :key="i"
                v-model="input.value" 
                :label="input.label"
                :type="input.type"
              />
              <button>Log in</button> 
            </form>
          `,
          // registering components: let login-form know about the custom-input
          // component
          components: ['custom-input'],
          data() {
              // values defined in data can only be changed in same component, 
              // so we need to pass values up from child to parent if we want to change them
              return {
                title: 'Login Form',
                inputs: [
                  {
                      label: 'Email',
                      value: '',
                      type: 'email'
                  },
                  {
                      label: 'Password',
                      value: '',
                      type: 'password'
                  }
                ]
              }
          },
          methods: {
              handleSubmit() {
                  console.log(this.inputs[0].value, this.inputs[1].value);
              }
          },
          // lifecycle hooks
          created() {
              console.log('created');
          },
          mounted() {
              console.log('mounted');
          },
          // unmounted is never called, would be called if element would be
          // removed from DOM via e.g. a v-if
          unmounted() {
              console.log('unmounted');
          }
      });
      app.component('custom-input', {
          template: `
            <label>
                {{ label }}
                <!-- issue: we don't have access to what is entered here in parent component -->
                <input :type="type" v-model="inputValue"/>
            </label>`,
            // list of information passed down from parent to child via v-bind
            // note! modelValue describes the value, that is bound via v-model.
            // v-model="email" actually equals to v-bind:modelValue="email"
            // -> we need to accept the v-model value in the child via the props
            // props are read ONLY!
            props: ['label', 'type', 'modelValue'],
            // passing values from child to parent via computed object
            // pass variables as Keys, whenever variable that matches Key changes, 
            // run getter and setter functions
            computed: {
              // modeling inputValue to getter function, saying the value will be what is 
              // passed down by the parent via the modelValue
              inputValue: {
                get() {
                  return this.modelValue
                },
                set(randomNameValue) {
                  // set typed in value in variable by emitting an event
                  // -> pass data around in vue application using events
                  this.$emit('update:modelValue', randomNameValue)
                }
              }
            }
            // data() {
            //     return {
            //         inputValue: ''
            //     }
            // }
      })
      app.mount('#app');
    </script>
  </body>
</html>